<h1> <%= link_to @questions.first.case.name, case_path(@questions.first.case) %> </h1>
<p> <strong> <%=  @questions.first.case.content %> </strong></p>
<% @questions.each do  |question| %>
  <p> <%= link_to "Question", question_path(question) %> >> <%= question.content %> </p>
<% end %>
