<div class="title-box">
  <h1 class="title">Your learning journey</h1>
</div>
<div class="container">
  <% @cases.each do |c| %>
    <h2> <strong> Day <%= c.day %></strong> </h2>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
      <div class="card-product-infos">
        <h2><%= link_to c.name, case_path(c) %> </h2>
        <p> <strong>Industry:</strong>  <%= c.industry  %></p>
      </div>
    </div>
  <% end %>
</div>
