<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-10">
        <h2 class="title-question"> <%= @case.name.upcase %> </h2>
      </div>
      <div class="col col-md-2">
        <div class="time-indication">
          <% total_time = 0 %>
          <% @case.questions.each do |q| %>
            <% total_time += q.timing.to_i %>
          <% end %>
          <div class="timing-by-case">
            <i class="far fa-clock"></i>
            <p> <%= total_time %> mins </p>
          </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col col-md-12">
        <div class="container-index-blue">
          <h5> Read carefully the instructions ! </h5>
        </div>
      </div>
    </div>

   <div class="row">
      <div class="col col-md-8">
        <div class="container-question">
          <em> <%= @case.content.html_safe %> </em>
       </div>
    </div>
    <div class="col col-md-4 position-of-button">
        <h4 class="label-button">START</h4 class="label-button">
        <%= link_to "", question_path(@case.questions.first, attempt: "new"), class: "btn btn-next" %>
    </div>
  </div>

</div>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
