<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @case.name  %> </h1>
    <p> <strong>Industry:</strong>  <%= @case.industry  %></p>
  </div>
</div>

<p><%= @case.content %> </p>

<%= link_to "Start!", question_path(@case.questions.first, attempt: "new"), class: "btn btn-flat" %>
