<div class="container">
<h2> <%= @question.content  %></h2>
  <%= simple_form_for [@question, @answer] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Send", :class => "btn btn-flat" %>
  <% end %>
</div>
