<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Ace the case!</h1>
    <p>Make it to <span id="banner-typed-text"></span></p>
    <%= link_to "Start!", cases_path, class: "btn  btn-flat"  %>
  </div>
</div>
