.banner-case {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-case h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-case p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.home-banner {
  height: 70vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(60deg, #070d59 0%, #5893d4 100%);
  background-size: cover;
  background-position: center;
  position: relative;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;

    font-family: 'Montserrat', sans-serif;
  }
  .btn {
    padding: 15px 50px;
  }
}

.banner-content {
  margin-left: 200px;
  margin-top: 100px;
  width: 500px;
}

.first-picture {
  margin-left: 100px;
  margin-top: 160px;
  filter: drop-shadow(14px 14px 0px rgba(23,43,115, 0.15));
}

.second-picture {
  margin-top: 450px;
  margin-left: 0px;
  filter: drop-shadow(14px 14px 0px rgba(23,43,115, 0.15));
}

.third-picture {
  margin-right: 100px;
  margin-bottom: 430px;
  filter: drop-shadow(14px 14px 0px rgba(23,43,115, 0.15));
}

.logo-home {
  margin-bottom: 20px;
}



















