.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


button.stripe-button-el {
  color: white !important;
  padding: 8px 24px !important;
  border-radius: 30px !important;
  background: linear-gradient(135deg, #f7b633 0%, #fff6be 117%) !important;
  transition: background 0.3s ease !important;
  background-image: none;

}

button.stripe-button-el>span {
  background-color: transparent !important;
  border: none;
  text-shadow: none;
  box-shadow: none;
  background-image: none;

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 30px;
  background-color: #f7b633;
  transition: background 0.3s ease;
}


.btn-flat:hover {

  opacity: 0.8;
  color: white;
}

.flat-question {
  color: white;
  padding: 8px 24px;
  width: 100% !important;
  margin: auto;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 10px 10px 0px rgba(23,43,115, 0.15);
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  background: linear-gradient(135deg, #f7b633 0%, #fff6be 117%);
  transition: background 0.3s ease;
}


.flat-question:hover {
  opacity: 0.8;
  color: white;
}


.btn-next {
  background-image: image_url('next.svg');
  width: 50px;
  height: 50px;
  display: inline-block;
}

.btn-next-small {
  background-image: image_url('next.svg');
  width: 30px;
  height: 30px;
  display: inline-block;
}
.stripe-button:hover {
  opacity: 0.8 !important;
  color: white !important;
}


.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.back {
  color: #f7b633;
  text-align: right;
  font-size: 50px;
}

.back:hover {
  color: #f7b633;
  text-align: right;
  font-size: 50px;
  opacity: 0.7;
}
