.card-title {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 30px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 8px 8px 0px rgba(23,43,115, 0.15);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
}

.time-indication {
  position: absolute;
  text-align: center;
  right: 60px;
  color: grey;
}

.card-product .card-product-infos {
  padding: 16px;
}

.flex-for-time {
  display: flex;
  width: 100%;
}
.card-product-grey {
  overflow: hidden;
  height: 120px;
  background: rgba(200,200,200,0.4);
  box-shadow: 8px 8px 0px rgba(23,43,115, 0.15);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.disclaimer {
  font-size: 17px;
  color: grey;
  font-weight: lighter;
}

.difficulty {
  font-size: 15px;
  color: rgb(5,8,52);
}

.blue-card {
  background: rgba(83,138,204,0.1);
}

.card-product-grey img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.fa-check-circle {
  color: rgba(23,43,115,0.4);
}

.fa-check-circle-top {
  font-size: 14px;
}

.card-product-grey h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: grey;
}

.card-product-grey p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-grey .card-product-infos {
  padding: 16px;
}

