#countdown {
  position: relative;
  margin-right: 0px;
  height: 100px;
  width: 100px;
  text-align: center;
  box-shadow: 8px 8px 0px rgba(23,43,115, 0.15);
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
}

.mysvg {
  width: 100px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);

}

#startValuesAndTargetExample {
  position:absolute;

  top: 0;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mysvg circle {
  stroke-dasharray: 287px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #070d59 ;
  fill: white;
  animation-name: countdown;
  animation-timing-function: linear;
  animation-play-state: infinite;
  animation-direction: forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 287px;
  }
}
