.dashboard {
  margin-top: 30px;
  width: 350px;
  padding: 30px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 14px 14px 0px rgba(23,43,115, 0.15);
  text-align: justify;
  border-radius: 7px;
  height: 200px;
}

.container-dashboard {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.dashboard-description {
  display:flex;
  justify-content: space-between;
}

.title-box-dashboard {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
