.img-home {
  height: 50px;
  color: orange;
}
.advantage-box {
  border: 1px solid rgba(9,15,91,0.2);
  box-shadow: 14px 14px 0px rgba(23,43,115, 0.15);
  margin-left: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 30px;
  position: relative;
  margin-right: 150px;
  width: 500px;
}

.goal-img {
  position: absolute;
  left: -10px;
}

.advantage {
  border-bottom: 1px solid rgba(9,15,91,0.2);
  margin: 20px;
  padding-bottom: 25px;
  display: flex;
  padding: 15px;
}


.advantage-last {
  margin: 20px;
  padding-bottom: 25px;
  display: flex;
  padding: 12px;
}


.advantage-last h3 {
  margin-left: 30px;
  padding: 15px;
  font-size: 16px;
}

.advantage-last p {
  margin-left: 30px;
  font-size: 14px;
  padding: 15px;
  color: grey;
}

.advantage h3 {
  margin-left: 30px;
  padding: 15px;
  font-size: 16px;
}

.advantage p {
  margin-left: 30px;
  padding: 15px;
  font-size: 14px;
  color: grey;
}

.home-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
  margin-left: 100px;
}

.home-description {
  width: 500px;
}

.home-description p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.home-description h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}

.fourth-picture {
  margin-left: 60px;
  filter: drop-shadow(14px 14px 0px rgba(23,43,115, 0.15));
  margin-bottom: -90px;
}

