// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "banner";
@import "button";
@import "timing";
@import "flash";
@import "scorecard";
@import "progressbar";
@import "scorebar";
@import "form";
@import "homecontent";

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-top: 30px;
  width: 1500px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: justify;
}

.title-box {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.title {
  color: white;
}

.question-answer {
  color: #070d59;
}

.question-correction {
  color: #005542;
}

.orange-text {
  color: #f7b633;
  letter-spacing: 2px;
}

.trianglify {
  background-image: linear-gradient(60deg, #070d59 0%, #5893d4 70%);
  background-size: cover;
  margin-top: 0px;
  padding-top: 30px;
}


