// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "banner";
@import "button";
@import "timing";
@import "flash";
@import "scorecard";
@import "progressbar";
@import "scorebar";
@import "form";
@import "homecontent";
@import "profile";
@import "methodology";
@import "footer";
@import "dashboard";
@import "answercards";

body {
  font-family: 'Montserrat', sans-serif;

}
.container {
  margin-top: 30px;
  width: 1500px;
  padding: 30px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 14px 14px 0px rgba(23,43,115, 0.15);
  text-align: justify;
  border-radius: 5px;
  margin-bottom: 30px;
}

.title-box {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.question-answer {
  color: #070d59;
}

.question-correction {
  color: #005542;
}

.correctness {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.orange-text {
  color: #f7b633;
  letter-spacing: 2px;
}

.trianglify {
  // background-image: linear-gradient(60deg, #070d59 0%, #5893d4 70%);
  background-image: white;
  background-size: cover;
  margin-top: 0px;
  padding-top: 30px;
}


