.container-pay {
  margin-top: 20px !important;
  width: 1000px !important;
}

.container-pay h3 {
  text-align: center;
}

.amount  {
    text-align: center;
}

.payment-button {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
