.container-caseindex{
  position: relative;
}


.index-cases-picture-one {
  position: absolute;
  left: 1019px;
  top: -42px;
  z-index: 2;
}

.index-cases-picture-two {
  position: absolute;
  left: -100px;
  top: 164px;
  z-index: 2;
}

.index-cases-picture-three {
  position: absolute;
  left: 1100px;
  top: 364px;
  z-index: 2;
}


