.profile {
  width: 1000px;
  padding: 30px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #f7b633;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
}


.align-avatar {
  margin-bottom: -78px;
}

.profile-data {
  margin-top: 0px;
  text-align: center;
  color: #f7b633;
}

.profile-data p {
  color: grey;
}


.container-profile {
  margin-top: 60px;
  padding: 0px;
  background-color: #050835;
  // background-image: linear-gradient(60deg, #070d59 0%, #5893d4 100%);
  text-align: justify;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
