.profile {
  margin-top: 30px;
  width: 1200px;
  padding: 30px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #f7b633;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}


.align-avatar {
  margin-bottom: -100px;
}

.profile-data {
  margin-top: 0px;
  text-align: center;
}
