.profile {
  margin-top: 30px;
  width: 1000px;
  padding: 30px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #f7b633;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}


.align-avatar {
  margin-bottom: -100px;
}

.profile-data {
  margin-top: 0px;
  text-align: center;
}


.container-profile {
  margin-top: 30px;

  padding: 0px;
  background: rgba(0,0,0,0.01);
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 14px 14px 0px rgba(23,43,115, 0.15);
  text-align: justify;
  border-radius: 5px;
  margin-bottom: 30px;
}
