.timing {
  text-align: center;
  width: 100px;
  height: 100px;
  vertical-align: center;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(23,43,115, 0.15);

}

.timing .time-symbol {
  font-size: 30px;
  margin-top: 10px;
}

#questiontiming {
  margin-bottom: 3px;
}

